PngImage_1 RCData "Images\\finish_line.png"
PngImage_2 RCData "Images\\Gary.png"
PngImage_3 RCData "Images\\Gary_2.черун.png"
PngImage_4 RCData "Images\\Gary_(3).серенун.png"
PngImage_5 RCData "Images\\Gary_(4).голубун.png"
PngImage_6 RCData "Images\\Gary _(5). быструн.png"
PngImage_7 RCData "Images\\Gary _ (6). желтун.png"
PngImage_8 RCData "Images\\Gary _7. зеленун.png"
PngImage_9 RCData "Images\\Gary_.png"
PngImage_10 RCData "Images\\road.png"
