PngImage_1 RCData "images\\bird1.png"
PngImage_3 RCData "images\\BegGround.png"
PngImage_2 RCData "images\\Ground_2.png"
PngImage_4 RCData "images\\Tube1.png"
PngImage_5 RCData "images\\Tube2 .png"
PngImage_6 RCData "images\\Bird_Sprites — копия.png"
